* {
    display: block;
    padding: 2px;
}


doom:before {
    content: "DOOM: \A";
    color: gray;
}
doom {
    content: oxy_browser(
href, 'file:///C:/REPOSITORIES/Syncro/doom-addon/oxygen-addon-doom/frameworks/doom/jsdos/index.html', 
width, 1280px, 
height, 720px

)
}